<head>
  <title><%= Settings.name %></title>
  <meta name="description" content="<%= @meta["description"] || @fb_og["description"] || @fb_og["fb_description"] || Settings.description %>">
  <meta name="keywords" content="<%= @meta["keys"] || @fb_og["keys"] || Settings.keywords %>">
  <meta name="author" content="<%#= Settings.author %>">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=1200, initial-scale=1, maximum-scale=1">

	<link rel="shortcut icon" href="/favicon.ico" media="screen" title="<%= Settings.name %>" charset="utf-8">
	
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&amp;amp;subset=latin,latin-ext">
	<%= stylesheet_link_tag "application", media: "all" %>
	
	<%= render "partials/fb_meta" %>
	<%= csrf_meta_tags %>
	<!--[if lt IE 9]>
	  <link rel="stylesheet" href="/css/ie.css">
	  <script type="text/javascript" src="/js/html5.js"></script>
	<![endif]-->
</head>
