<div class="form-group">
    <%= f.label :"#{@search_key}", '內容', :class => 'col-xs-12' %>
    <div class="col-xs-12">
        <%= f.text_field :"#{@search_key}", class: 'form-control' %>
    </div>
</div>

<% @search_not_text_key.each do |column| %>

  <% case column.last %>
  <% when :datetime %>
    <div class="form-group">
      <%= f.label column.first, t("admin.#{@search.result.name.underscore.downcase}.#{column.first}"), :class => 'col-xs-12' %>
      <div class="col-xs-12">
        <input type="text" class="datepicker form-control" name="f[<%= column.first.to_s %>][]" value="<%= params[:f][column.first.to_sym].try(:first) if params[:f] %>">
        <div class="text-center">~</div>
        <input type="text" class="datepicker form-control" name="f[<%= column.first.to_s %>][]" value="<%= params[:f][column.first.to_sym].try(:last) if params[:f] %>">
      </div>
    </div>
  <% when :date %>
    <div class="form-group">
      <%= f.label column.first, t("admin.#{@search.result.name.underscore.downcase}.#{column.first}"), :class => 'col-xs-12' %>
      <div class="col-xs-12">

        <input type="text" class="datepicker form-control" name="f[<%= column.first.to_s %>][]" value="<%= params[:f][column.first.to_sym].try(:first) if params[:f] %>">
        <div class="text-center">~</div>
        <input type="text" class="datepicker form-control" name="f[<%= column.first.to_s %>][]" value="<%= params[:f][column.first.to_sym].try(:last) if params[:f] %>">

      </div>
    </div>
  <% when :boolean %>
    <div class="form-group">
      <%= f.label column.first, t("admin.#{@search.result.name.underscore.downcase}.#{column.first}"), :class => 'col-xs-12' %>
      <div class="col-xs-12">
        <%= select_tag "f[#{column.first.to_s}]", options_for_select([['請選擇', ""], ['是', 1], ['否', 0]], selected: (params[:f][column.first.to_s] if params[:f]) ), class: 'form-control' %>
      </div>
    </div>
  <% when :integer %>
    <% if column.first.to_s.include?('_id') && (klass = column_to_model(column.first.to_s)) %>
      <% if klass.column_names.include?("name") %>
        <div class="form-group">
          <%= f.label column.first, t("admin.#{@search.result.name.underscore.downcase}.#{column.first.to_s.split('_id').first}"), :class => 'col-xs-12' %>
          <div class="col-xs-12">
            <%= f.collection_select column.first, klass.all, :id, :name, ( params[:f].blank? || params[:f][column.first].blank? ) ? {include_blank: "請選擇"} :{include_blank: "請選擇", selected: params[:f][column.first]}, {:name => "f[#{column.first}]", class: 'form-control'} %>
          </div>
        </div>
      <% elsif klass.column_names.include?("title") %>
        <div class="form-group">
          <%= f.label column.first, t("admin.#{@search.result.name.underscore.downcase}.#{column.first.to_s.split('_id').first}"), :class => 'col-xs-12' %>
          <div class="col-xs-12">
            <%= f.collection_select column.first, klass.all, :id, :title, ( params[:f].blank? || params[:f][column.first].blank? ) ? {include_blank: "請選擇"} :{include_blank: "請選擇", selected: params[:f][column.first]}, {:name => "f[#{column.first}]", class: 'form-control'} %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if content_for? :search_form %>
  <%= yield :search_form %>
<% end %>


<div class="modal-footer">
    <%= f.submit "#{t('admin.search')}", :class => "btn btn-primary" %>
    <%= button_tag "關閉", type: :reset, :class => "btn btn-default", :"data-dismiss" => "modal" %>
</div>
