<%%= form_for([:admins,@<%= singular_table_name %>], :html => {:class => 'form-horizontal', :role => 'form'} ) do |f| %>
  <%% if @<%= singular_table_name %>.errors.any? %>
    <div id="error_explanation">
      <h2><%%= pluralize(@<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h2>

      <ul>
      <%% @<%= singular_table_name %>.errors.full_messages.each do |msg| %>
        <li><%%= msg %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>

<% attributes.each do |attribute| -%>
  <div class="form-group">
<% if attribute.password_digest? -%>
  <%%= f.label :password, t 'admin.password', :class => 'col-sm-3 control-label' %>
      <div class="col-sm-7">
        <%%= f.password_field :password, t 'admin.password', :class => 'form-control' %>
      </div>
  </div>
  <div>
    <%%= f.label :password_confirmation, t 'admin.password_confirmation', :class => 'col-sm-3 control-label' %>
    <div class="col-sm-7">
      <%%= f.password_field :password_confirmation, t 'admin.password_confirmation', :class => 'form-control' %>
    </div>
<% else -%>
  <%- if attribute.reference? -%>
    <%%= f.label :<%= attribute.column_name %>, t('admin.<%= singular_table_name.gsub("admin_", "") %>.<%= attribute.column_name %>'), :class => 'col-sm-3 control-label' %>
    <div class="col-sm-7">
      <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %>, :class => 'form-control', :required => true %>
    </div>
  <%- else -%>
    <%%= f.label :<%= attribute.name %>, t('admin.<%= singular_table_name.gsub("admin_", "") %>.<%= attribute.name %>'), :class => 'col-sm-3 control-label' %>
    <div class="col-sm-7">
      <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, :class => 'form-control', :required => true %>
    </div>
  <%- end -%>
<% end -%>
  </div>
<% end -%>
<div class="form-group">
  <div class="col-sm-offset-3 col-sm-7">
    <%%= f.submit "#{t('admin.submit')}", :class => 'btn btn-primary' %>
    <%%= link_to t('admin.cancel'), admins_<%= index_helper %>_path, :class => 'btn btn-default' %>
  </div>
</div>
<%% end %>
