<%%= form_for([:admins,@<%= singular_table_name %>], :html => {:class => 'form-horizontal push-10-t push-10', :role => 'form'} ) do |f| %>
  <%% if @<%= singular_table_name %>.errors.any? %>
    <div id="row">
      <div class="col-sm-12 alert alert-danger">
        <h2><%%= pluralize(@<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h2>

        <ul>
        <%% @<%= singular_table_name %>.errors.full_messages.each do |msg| %>
          <li><%%= msg %></li>
        <%% end %>
        </ul>
      </div>
    </div>
  <%% end %>

<% attributes.each do |attribute| -%>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <% if attribute.password_digest? -%>
          <div class="col-xs-6">
            <%%= f.label :password, t 'admin.password' %>
            <%%= f.password_field :password, t 'admin.password', :class => 'form-control' %>
          </div>
          <div class="col-xs-6">
            <%%= f.label :password_confirmation, t 'admin.password_confirmation' %>
            <%%= f.password_field :password_confirmation, t 'admin.password_confirmation', :class => 'form-control' %>
          </div>
        <% else -%>
          <div class="col-xs-12">
            <%- if attribute.reference? -%>
              <%%= f.label :<%= attribute.column_name %>, t('admin.<%= singular_table_name.gsub("admin_", "") %>.<%= attribute.column_name %>') %>
              <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %>, :class => 'form-control', :required => true %>
            <%- else -%>
              <%%= f.label :<%= attribute.name %>, t('admin.<%= singular_table_name.gsub("admin_", "") %>.<%= attribute.name %>') %>
              <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, :class => 'form-control', :required => true %>
            <%- end -%>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
<% end -%>

  <div class="form-group">
    <div class="col-xs-12">
      <%%= f.submit "#{t('admin.submit')}", :class => 'btn btn-primary' %>
      <%%= link_to t('admin.cancel'), admins_<%= index_helper %>_path, :class => 'btn btn-default' %>
    </div>
  </div>
<%% end %>
