<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for?(:title) ? yield(:title) : Settings.name %></title>
    <%= stylesheet_link_tag "admin" %>
    <%= csrf_meta_tags %>

    <link rel="shortcut icon" href="/favicon.ico" />

    <!-- Le HTML5 shim, for IE6-9 support of HTML elements -->

    <!--[if lte IE 9]>
      <%= stylesheet_link_tag "ie/admin_ie_1" %>
      <%= stylesheet_link_tag "ie/admin_ie_2" %>
      <%= stylesheet_link_tag "ie/admin_ie_3" %>
      <%= stylesheet_link_tag "ie/admin_ie_4" %>
      <%= stylesheet_link_tag "ie/admin_ie_5" %>
      <%= stylesheet_link_tag "ie/admin_ie_6" %>
      <%= stylesheet_link_tag "ie/admin_ie_7" %>
      <%= stylesheet_link_tag "ie/admin_ie_8" %>
      <%= stylesheet_link_tag "ie/admin_ie_9" %>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>
    <%= render 'partials/admin_header_bar' %>
    <%= render 'partials/admin_left_bar' %>

    <div id="page-content">
      <div class="body-content animated fadeIn">
        <div class="row">
          <% if flash[:notice] %><div class='alert alert-info'><%= notice %></div><% end %>
          <% if flash[:alert] %><div class='alert alert-warning'><%= alert %></div><% end %>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <%= yield %>
          </div>
        </div><!--/row-->

        <footer>
          <p style="text-align: center;">&copy; <%= Settings.name %> &nbsp;&nbsp; Designed by 四點設計</p>
        </footer>
      </div>
    </div> <!-- /container -->


    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "admin" %>
    <%= yield(:script)  %>
  </body>
</html>
