<!DOCTYPE html>
<!--[if IE 8]>         <html lang="zh-tw" class="lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="zh-tw" class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="zh-tw"> <!--<![endif]-->
<%= render "partials/meta" %>
  <body>
		<%= render 'partials/header' %>
    <%= yield %>
    <%= partial "footer" %>
    <%= javascript_include_tag "application" %>
    <%= yield :script %>
  </body>
</html>
